<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.catotaku.common.dao.VideobarrageMapper" >
  <resultMap id="BaseResultMap" type="top.catotaku.common.pojo.po.Videobarrage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="vi_id" property="viId" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="Barrage" property="barrage" jdbcType="VARCHAR" />
    <result column="videoDate" property="videodate" jdbcType="TIMESTAMP" />
    <result column="varrageDate" property="varragedate" jdbcType="TIMESTAMP" />
    <result column="varrageColor" property="varragecolor" jdbcType="VARCHAR" />
    <result column="xx_id" property="xxId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, vi_id, u_id, Barrage, videoDate, varrageDate, varrageColor, xx_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.catotaku.common.pojo.po.VideobarrageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from videobarrage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from videobarrage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from videobarrage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.catotaku.common.pojo.po.VideobarrageExample" >
    delete from videobarrage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.catotaku.common.pojo.po.Videobarrage" >
    insert into videobarrage (id, vi_id, u_id, 
      Barrage, videoDate, varrageDate, 
      varrageColor, xx_id)
    values (#{id,jdbcType=INTEGER}, #{viId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, 
      #{barrage,jdbcType=VARCHAR}, #{videodate,jdbcType=TIMESTAMP}, #{varragedate,jdbcType=TIMESTAMP}, 
      #{varragecolor,jdbcType=VARCHAR}, #{xxId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="top.catotaku.common.pojo.po.Videobarrage" >
    insert into videobarrage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="viId != null" >
        vi_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="barrage != null" >
        Barrage,
      </if>
      <if test="videodate != null" >
        videoDate,
      </if>
      <if test="varragedate != null" >
        varrageDate,
      </if>
      <if test="varragecolor != null" >
        varrageColor,
      </if>
      <if test="xxId != null" >
        xx_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="viId != null" >
        #{viId,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="barrage != null" >
        #{barrage,jdbcType=VARCHAR},
      </if>
      <if test="videodate != null" >
        #{videodate,jdbcType=TIMESTAMP},
      </if>
      <if test="varragedate != null" >
        #{varragedate,jdbcType=TIMESTAMP},
      </if>
      <if test="varragecolor != null" >
        #{varragecolor,jdbcType=VARCHAR},
      </if>
      <if test="xxId != null" >
        #{xxId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.catotaku.common.pojo.po.VideobarrageExample" resultType="java.lang.Integer" >
    select count(*) from videobarrage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update videobarrage
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.viId != null" >
        vi_id = #{record.viId,jdbcType=INTEGER},
      </if>
      <if test="record.uId != null" >
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.barrage != null" >
        Barrage = #{record.barrage,jdbcType=VARCHAR},
      </if>
      <if test="record.videodate != null" >
        videoDate = #{record.videodate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.varragedate != null" >
        varrageDate = #{record.varragedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.varragecolor != null" >
        varrageColor = #{record.varragecolor,jdbcType=VARCHAR},
      </if>
      <if test="record.xxId != null" >
        xx_id = #{record.xxId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update videobarrage
    set id = #{record.id,jdbcType=INTEGER},
      vi_id = #{record.viId,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=INTEGER},
      Barrage = #{record.barrage,jdbcType=VARCHAR},
      videoDate = #{record.videodate,jdbcType=TIMESTAMP},
      varrageDate = #{record.varragedate,jdbcType=TIMESTAMP},
      varrageColor = #{record.varragecolor,jdbcType=VARCHAR},
      xx_id = #{record.xxId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.catotaku.common.pojo.po.Videobarrage" >
    update videobarrage
    <set >
      <if test="viId != null" >
        vi_id = #{viId,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="barrage != null" >
        Barrage = #{barrage,jdbcType=VARCHAR},
      </if>
      <if test="videodate != null" >
        videoDate = #{videodate,jdbcType=TIMESTAMP},
      </if>
      <if test="varragedate != null" >
        varrageDate = #{varragedate,jdbcType=TIMESTAMP},
      </if>
      <if test="varragecolor != null" >
        varrageColor = #{varragecolor,jdbcType=VARCHAR},
      </if>
      <if test="xxId != null" >
        xx_id = #{xxId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.catotaku.common.pojo.po.Videobarrage" >
    update videobarrage
    set vi_id = #{viId,jdbcType=INTEGER},
      u_id = #{uId,jdbcType=INTEGER},
      Barrage = #{barrage,jdbcType=VARCHAR},
      videoDate = #{videodate,jdbcType=TIMESTAMP},
      varrageDate = #{varragedate,jdbcType=TIMESTAMP},
      varrageColor = #{varragecolor,jdbcType=VARCHAR},
      xx_id = #{xxId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>