<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.catotaku.common.dao.VideoleavemessageMapper" >
  <resultMap id="BaseResultMap" type="top.catotaku.common.pojo.po.Videoleavemessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="vi_id" property="viId" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="leaveMessage" property="leavemessage" jdbcType="VARCHAR" />
    <result column="leaveMessageDate" property="leavemessagedate" jdbcType="TIMESTAMP" />
    <result column="vlm_id" property="vlmId" jdbcType="INTEGER" />
    <result column="xx_id" property="xxId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, vi_id, u_id, leaveMessage, leaveMessageDate, vlm_id, xx_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.catotaku.common.pojo.po.VideoleavemessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from videoleavemessage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from videoleavemessage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from videoleavemessage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.catotaku.common.pojo.po.VideoleavemessageExample" >
    delete from videoleavemessage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.catotaku.common.pojo.po.Videoleavemessage" >
    insert into videoleavemessage (id, vi_id, u_id, 
      leaveMessage, leaveMessageDate, vlm_id, 
      xx_id)
    values (#{id,jdbcType=INTEGER}, #{viId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, 
      #{leavemessage,jdbcType=VARCHAR}, #{leavemessagedate,jdbcType=TIMESTAMP}, #{vlmId,jdbcType=INTEGER}, 
      #{xxId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="top.catotaku.common.pojo.po.Videoleavemessage" >
    insert into videoleavemessage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="viId != null" >
        vi_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="leavemessage != null" >
        leaveMessage,
      </if>
      <if test="leavemessagedate != null" >
        leaveMessageDate,
      </if>
      <if test="vlmId != null" >
        vlm_id,
      </if>
      <if test="xxId != null" >
        xx_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="viId != null" >
        #{viId,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="leavemessage != null" >
        #{leavemessage,jdbcType=VARCHAR},
      </if>
      <if test="leavemessagedate != null" >
        #{leavemessagedate,jdbcType=TIMESTAMP},
      </if>
      <if test="vlmId != null" >
        #{vlmId,jdbcType=INTEGER},
      </if>
      <if test="xxId != null" >
        #{xxId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.catotaku.common.pojo.po.VideoleavemessageExample" resultType="java.lang.Integer" >
    select count(*) from videoleavemessage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update videoleavemessage
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.viId != null" >
        vi_id = #{record.viId,jdbcType=INTEGER},
      </if>
      <if test="record.uId != null" >
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.leavemessage != null" >
        leaveMessage = #{record.leavemessage,jdbcType=VARCHAR},
      </if>
      <if test="record.leavemessagedate != null" >
        leaveMessageDate = #{record.leavemessagedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.vlmId != null" >
        vlm_id = #{record.vlmId,jdbcType=INTEGER},
      </if>
      <if test="record.xxId != null" >
        xx_id = #{record.xxId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update videoleavemessage
    set id = #{record.id,jdbcType=INTEGER},
      vi_id = #{record.viId,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=INTEGER},
      leaveMessage = #{record.leavemessage,jdbcType=VARCHAR},
      leaveMessageDate = #{record.leavemessagedate,jdbcType=TIMESTAMP},
      vlm_id = #{record.vlmId,jdbcType=INTEGER},
      xx_id = #{record.xxId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.catotaku.common.pojo.po.Videoleavemessage" >
    update videoleavemessage
    <set >
      <if test="viId != null" >
        vi_id = #{viId,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="leavemessage != null" >
        leaveMessage = #{leavemessage,jdbcType=VARCHAR},
      </if>
      <if test="leavemessagedate != null" >
        leaveMessageDate = #{leavemessagedate,jdbcType=TIMESTAMP},
      </if>
      <if test="vlmId != null" >
        vlm_id = #{vlmId,jdbcType=INTEGER},
      </if>
      <if test="xxId != null" >
        xx_id = #{xxId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.catotaku.common.pojo.po.Videoleavemessage" >
    update videoleavemessage
    set vi_id = #{viId,jdbcType=INTEGER},
      u_id = #{uId,jdbcType=INTEGER},
      leaveMessage = #{leavemessage,jdbcType=VARCHAR},
      leaveMessageDate = #{leavemessagedate,jdbcType=TIMESTAMP},
      vlm_id = #{vlmId,jdbcType=INTEGER},
      xx_id = #{xxId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>