<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        ">
    <!--配置底层的连接工厂-->
    <bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://121.43.168.127:61616"/>
    </bean>
    <!--配置spring封装的连接工厂-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <constructor-arg name="targetConnectionFactory" ref="targetConnectionFactory"/>
    </bean>
    <!--配置目标对象 queue topic-->
    <bean id="topicDestination" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg  value="itemAddTopic"/>
    </bean>
    <!--订阅者端要配置的自定义监听器-->
    <bean id="solrMessageListener" class="top.catotaku.detail.service.FreemarkerMessageListener"/>
    <!--配置默认的消息监听的容器,注入3个属性:连接工厂,目标对象,订阅者的监听器-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="topicDestination"/>
        <property name="messageListener" ref="solrMessageListener"/>
    </bean>
</beans>